

  .graphs{
    display: flex;
    width:850px;
    justify-content: space-between;

    
  }
  .priority-bar{
    height:300px;
    width:80px;
    background-color: darkgreen;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 15px;
    font-weight: 900;

  }

  .priority-bar-fill{
    background-color: red;
    width:100%;
   text-align: center;
   

  }

  .circle{
    width:300px;
    height: 300px;
   border: 1px solid black;
   border-radius: 50%; 
   background-color:black;
   background-image: conic-gradient(orange 64%, blue 17%, black);
    }

    .sp{
      margin-left: 16px;
    }


  .days-of-the-week{
    width:1000px;
    height:200px;
  
    display:flex;
    justify-content: space-between;
  }
  .days{
    height:300px;
    width:100px;
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 15px;
    font-weight: 900;

  }
  .days-inner{
    background-color:purple;
    width:100%;
    text-align: center;
  }

