/* .circle{
  width:100px;
  height: 100px;
 border: 1px solid black;
 border-radius: 50%; */
 /* background-color:black; */
 /* background-image:
 linear-gradient(260deg, white 50%, transparent 50%),
 linear-gradient(50deg, red 50%, transparent 10%),
 linear-gradient(-90deg, blue 50%, transparent 10%); */
 /* background: conic-gradient(red 110%, green 110%, blue 140%  ); */
 /* background: conic-gradient(
  red 0deg,  green 90deg, blue 180deg, yellow 360deg); */

  /* background-image: conic-gradient(orange 64%, blue 17%, black);
  } */

  .graphs{
    display: flex;
    width:250px;
    justify-content: space-between;

    
  }
  .priority-bar{
    height:300px;
    width:60px;
    background-color: darkgreen;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .priority-bar-fill{
    background-color: red;
    width:100%;
   

  }