

  .graphs{
    display: flex;
    width:850px;
    justify-content: space-between;
  }

  .priority-bar{
    height:300px;
    width:80px;
    background-color:#2a9d8f;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 15px;
    font-weight: 900;

  }

  .priority-bar-fill{
    background-color: #ef476f;
    width:100%;
   text-align: center;
  }

  .piechart-circle-div{
    display: flex;
  }

  #user-vs-ticket-heading{
    margin-left: 500px;
    margin-top: -40px;
    position: absolute;
  }

  .circle{
    width:300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 50%; 
    background-color:black;
    background-image: conic-gradient(orange 64%, blue 17%, black);
  }

  .sp{
    margin-left: 16px;
  }

  .days-of-the-week{
    width:1000px;
    height:200px;
    display:flex;
    justify-content: space-between;
  }

  .days{
    height:250px;
    width:100px;
    background-color:#2a9d8f;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 5px;
  }
  
  .days-inner{
    background-color:#dc2f02;
    width:100%;
    text-align: center;
  }

