@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Press+Start+2P&family=Source+Sans+3:wght@300;400;600&display=swap');

* {
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

body{
  background-color: #f3f5f9;
}

.navbars{
  width:20vh !important;
  /* height:100%; */
  min-height: 100vh;
  /* position:absolute; */
  margin-right: 10px;
  background: rgb(2,0,36);
  background: cornflowerblue;
  display: flex;
 
  
}

.container-on-steroid{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  
}

.nav-components-li{
  display: flex;
  justify-content: space-around;
  font-weight: bolder;
  color: white;
  
}

li{
  margin-bottom: 50px;
  font-weight: 1300px;
  
}
.nav-span{
  font-weight: bolder;
  font-size: xx-large;
  color: #03045e;
  text-decoration: none;
}

.not-logged-nav{
  display:flex;
  justify-content: center;
}

.not-logged-ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  
}
.not-logged-span{
  margin-left: 10px;
 
  font-size: xx-large;
  text-align: center;
  font-weight: bolder;
  text-decoration: none;
}
.nav-span-cont{
  display:flex;
  flex-direction: column;
}
.nav-span-cont{
  font-weight: bolder;
  margin-left: 5px;
  margin-top:15px;
  color:#03045e;
}
.link-text{
  text-decoration: none;
}

.nav-span:hover{
  color:tomato;
  border-color:#f1ff5c;
  color:darkmagenta;
  box-shadow: 0 0.9em 0.5em -0.4em #3E9C62;
  transform:translateY(-0.25em);
  transition: all 1s;
  cursor:pointer;
  text-decoration: none;
}

/* ul{
  display: inline-block;

} */
/* .nav-components-li{
  
  font-size: x-large;
  font-weight: bolder; 
  margin-bottom: 10px;

}

.nav-div{
  margin-top: -80px;
  color: black;
  margin-bottom: 20px;
}



li {
  color:black;
  font-size: x-large;
  font-weight: bolder;
}

span{
  color:white;
  font-weight: 1000;
}

#auth-style{
  color: black;
}
 */
