*, *::before, *::after{
  box-sizing: border-box;
}

.flex {
  display: flex;
  
}

.nav{
  flex-grow: 0;
  max-width: 20vh;
  min-width: 20vh;
}

.main{
  flex-grow: 4;
}

body {
  margin: 0;
  /* grid-template-columns: 20% 80%; */
}