.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000rem;

}


.card {
  width: 600px;
  max-height: 230px;
}
.card-title {
  font-size: 2rem;
}

.card-outline {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 50px 100px 0px -100px;
  padding: 5px;
  min-width: 100px;
}

.btn-primary {
  background-color: #3594f3 !important;
}

.btn-primary:hover {
  background-color: #4b6bfb !important;
}

.text-submittedBy {
  padding: 20px 0px;
}