.card {
  display: flex;
  margin: 10px 0px 0px -16px;
  height:80%;
  width:100%;
}
.card-title {
  font-size: 2rem;
}

.btn-details {
  background-color: #3594f3 !important;
}

.btn-details:hover {
  background-color: #4b6bfb !important;
}