.container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0px;
  max-width: 2000px;
}


.card {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  max-height: 250px;
}
.card-title {
  font-size: 2rem;
}

.card-outline {
  padding: 0px 20px;
}

.btn-primary {
  background-color: #3594f3 !important;
}

.btn-primary:hover {
  background-color: #4b6bfb !important;
}

.text-submittedBy {
  padding: 20px 0px;
}