.user-list {
  margin-left: 200px;
  
}
#cont-d{
  border:2px solid black;
  width: 200px;
  height: 100px;
  overflow: hidden;
  overflow-y: scroll;
 text-align: center;

}

#cont-d p{height:50px; 
          width:18%;
         
          
}
#cont-d p{overflow:hidden; overflow-y:scroll;}

.assign{
  display: flex;
  justify-content: space-around;

}
.assign-click{

  font-size: 15px;
  position: relative;
  color: green;
}