.conti {
  margin-left: 100px;
  margin-top:50px;
}

#cont-d{
  border:2px solid black;
  width: 400px;
  height: 140px;
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

#cont-d p{
  height:50px; 
  width: 18%;
}

#cont-d p{
  overflow:hidden; 
  overflow-y:scroll;
}

.assign{
  display: flex;
  justify-content: left;
  margin-left: 40px;
}

.assign-click{
  font-size: 15px;
  position: relative;
  color: green;
}

table, th, td {
  border:1px solid black;
}

.table {
  max-width: 1200px;
}

#form-select-multiple {
  width: 600px;
  height: 100px;
}

.assign-btn {
  align-content: right;
}